@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
  background-color: #f7f7f7;
  font-family: "Noto Sans KR", sans-serif;
  overflow-x: hidden;
}
p {
  -webkit-text-size-adjust: none;
}
a {
  text-decoration: none;
}

.top-blank {
  width: 100%;
  height: 40px;
}
/*타이틀바*/
.title-bar {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  background-color: #f7f7f7;
}
.title-left {
  width: 40px;
  height: 50px;
}
.title-left > a > img {
  width: 28px;
  margin: 10px;
}
.title-right {
  width: 40px;
  height: 50px;
}
.title-name {
  flex: 1;
  margin: auto;
  font-size: 1rem;
  text-align: center;
}

/*서브타이틀*/
.sub-script {
  font-size: 1.4rem;
  line-height: 1.5rem;
  padding-left: 2%;
}

/*---뱅크 페이지---*/
.bank-card {
  width: 100%;
  position: relative;
}
.card-title {
  font-size: 0.8rem;
  font-weight: 300;
  padding-left: 2%;
}
.bank {
  width: 100%;
}
.bank > .card {
  width: 46%;
  height: 68px;
  border: 1px solid #dadada;
  border-radius: 10px;
  background-color: #fff;
  display: inline-block;
  font-size: 0.9rem;
  margin: 1%;
  cursor: pointer;
}
.bank > .card > img {
  float: left;
  width: 32px;
  height: 32px;
  margin: 17px 10px;
  border: 1px solid #dadada;
  border-radius: 5px;
}
.bank > .card > p {
  flex: 1;
  height: 68px;
  margin: auto;
  line-height: 68px;
}

/*--- 계좌입력페이지 ---*/
.input-card {
  width: 100%;
  margin: auto;
}
.input-card > .input-bank {
  padding: 4px 0;
}
.input-card > div > input {
  width: 100%;
  margin: auto;
  top: 0;
  left: 0;
  padding-top: 30px;
  padding-bottom: 6px;
  border: none;
  background-color: #f7f7f7;
  border-radius: 0px;
  border-bottom: 1px solid #dadada;
  font-size: 1rem;
}
.btn-bar {
  width: 100%;
  padding: 15px 0px;
  margin-top: 30px;
  background-color: #4c81e2;
  text-align: center;
  color: white;
}

/*--- 총보유포인트 ---*/
.shadow-box {
  width: 94%;
  min-height: 100px;
  padding-bottom: 10px;
  margin: 20px auto;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 3px 5px 10px #cacaca;
}

.box-title {
  padding-left: 14px;
  padding-top: 14px;
  padding-bottom: 8px;
  font-size: 1rem;
}

.shadow-box > .point {
  flex: 1;
  float: right;
  padding-right: 14px;
  position: relative;
}
.shadow-box > .point > span > a {
  padding: 8px 20px;
  border-radius: 6px;
  background-color: #4c81e2;
  color: #fff;
  font-size: 0.8rem;
}
.shadow-box > .point > span {
  font-size: 1.7rem;
  padding-left: 10px;
}
.bank-info {
  padding-left: 14px;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}
.bank-info > span {
  display: flex;
}
.bank-info > span:first-child {
  font-size: 0.8rem;
  color: #999999;
}

.bank-btn {
  float: right;
  padding-right: 14px;
  margin-top: 10px;
}
.bank-btn a {
  background-color: #999999;
  padding: 8px 20px;
  border-radius: 6px;
  color: #fff;
}

.point-list {
  position: relative;
  display: flex;
  padding: 10px;
  flex: 1;
  font-size: 0.8rem;
}
.point-list > .pl-left > img {
  width: 40px;
  height: 40px;
}
.point-list > div {
  position: relative;
  display: inline-block;
}
.point-list > div:first-child {
  width: 15%;
}
.point-list > div:nth-child(2) {
  width: 55%;
}
.point-list > div:nth-child(3) {
  width: 30%;
}
.point-list > div > span {
  display: flex;
}

.pl-center > span:first-child {
  font-size: 1rem;
  overflow: hidden;
}
.pl-center > span:nth-child(2) {
  font-size: 0.7rem;
  color: #999999;
  overflow: visible;
}

.pl-right > span:first-child {
  font-size: 0.7rem;
  color: #999999;
  float: right;
}
.pl-right > span:nth-child(2) {
  font-size: 0.9rem;
  float: right;
}

.pl-right > span.plus {
  color: rgb(44, 189, 44);
}
.pl-right > span.minus {
  color: rgb(255, 122, 122);
}

/*--- 포인트 출금 ---*/
.mypoint {
  margin-top: 2px;
  width: 100%;
  height: 40px;
  border-top: 2px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  background-color: #eaeaea;
  font-size: 1rem;
  line-height: 40px;
  text-indent: 10px;
}

.input-withdraw {
  height: 80px;
  padding: 20px;
}
.input-withdraw input {
  width: 100%;
  text-align: center;
  font-size: 2.25rem;
  margin-top: 30px;
  border: none;
  background-color: #f7f7f7;
}
